.login {
  margin-top: $global-padding * 2;
  border-radius: 4px;
  border: 1px solid $gray;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
  .col-md-6 {
    text-align: center;
  }
  h3 {
    margin-bottom: $global-margin * 2;
  }
  p, a {
    color: $gray;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  .btn {
    margin: auto;
    margin-top: $global-margin;
  }
  &__btn-group {
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
   }
  }
  &__register {
    padding: $global-padding * 2;
    &-link {
      img {
        margin: $global-margin / 2 auto $global-margin * 0.9;
        display: block;
        @include media-breakpoint-up(md) {
          &.checkout-pirate {
            margin-bottom: $global-margin * 3.2;
          }
        }
      }
    }
  }
  a.social-btn {
    color: $white;
    text-decoration: none;
  }
  &__form {
    background: $light-gray;
    padding: $global-padding * 2 $global-padding * 5;
    @include media-breakpoint-down(md) {
      padding: $global-padding * 2;
    }
  }
  &__btn-group {
    a {
      margin-top: $global-margin;
      display: block;
    }
  }
  &__forgot-password {
    h2 {
      padding-top: $global-padding * 2;
      text-transform: uppercase;
    }
    p {
      font-size: 1rem;
      padding-top: $global-padding;
    }
    fieldset {
      max-width: 60%;
      margin: auto;
      padding-bottom: $global-padding;
      @include media-breakpoint-down(sm) {
        max-width: 80%;
      }
    }
    .login__btn-group {
      img {
        padding-top: $global-padding * 2;
      }
    }
  }
}

.support {
  margin-top: $global-padding * 2;
  border-radius: 4px;
  border: 1px solid $gray;
  &__leftpanel {
    padding: $global-padding * 2;
    &-link {
      h3 {
        text-align: center;
      }
      a {
        max-width: 12rem;
      }
      img {
        margin: $global-margin / 2 auto $global-margin * 0.9;
        display: block;
        @include media-breakpoint-up(md) {
          &.checkout-pirate {
            margin-bottom: $global-margin * 3.2;
          }
        }
      }
    }
  }
  &__form {
    background: $light-gray;
    padding: $global-padding * 2 $global-padding * 2;
    @include media-breakpoint-down(md) {
      padding: $global-padding * 2;
    }
    a {
      color: $body-color;
      text-decoration: none;
      font-size: 0.8rem;
      &:hover {
        text-decoration: underline;
      }
    }
    .form-group {
      text-align: left;
    }
  }
  &__btn-group {
    a {
      margin-top: $global-margin;
      display: block;
    }
  }
  .staff-poc {
    margin: 1em auto;
    img {
      vertical-align:middle;
      display: inline-block;
      border-radius: 100%;
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin: 0 auto;
      padding: 1em;
    }
    .detail {
      vertical-align:middle;
      display: inline-block;
      p {
        text-align: left;
        margin-bottom: 0;
      }
      p.name {
        font-weight: bolder;
      }
    }
  }
}
