.product-list {
  text-align: center;
  margin-bottom: $global-margin * 2;
  img {
    max-width: 100%;
  }
  &-item-name {
    margin: $global-margin / 2 0;
    display: block;
  }
  .panel-footer {
    color: $skull-gray;
    text-transform: uppercase;
  }
  .text-center {
    position: relative;
  }
  &__sale {
    svg {
      position: absolute;
      left: 0;
      top: 0;
    }
    &__text {
      position: absolute;
      top: 0.5rem;
      left: 0.15rem;
      color: $white;
      font-size: 0.8rem;
      text-transform: uppercase;
      transform: rotate(-45deg);
      font-weight: 500;
    }
  }
  &__new {
    svg {
      position: absolute;
      right: 0;
      top: 0;
      width: 49px;
      height: 49px;
    }
  }
  &:hover {
    z-index: 10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    transition: box-shadow 400ms ease-out;
    -moz-transition: box-shadow 400ms ease-out;
    -webkit-transition: box-shadow 400ms ease-out;
    -o-transition: box-shadow 400ms ease-out;
  }
}
