.product {
  a {
    color: $darken-gray;
    text-decoration: underline;
  }
  &__info {
    h3 {
      text-transform: uppercase;
    }
    &__name {
      font-weight: 300;
    }
    &__price {
      color: $skull-gray;
      &__undiscounted {
        text-decoration: line-through;
      }
      margin-bottom: $global-margin;
    }
    label {
      margin-bottom: $global-margin;
    }
    &__quantity {
      width: 17%;
      float: left;
      @include media-breakpoint-down(sm) {
        width: 47%;
      }
      input {
        height: 54px;
      }
    }
    &__button {
      width: 80%;
      float: right;
      margin-top: $global-margin * 2.5;
      button {
        min-width: 100%;
      }
      @include media-breakpoint-down(sm) {
        width: 50%;
        .btn.primary {
          padding: $global-padding;
        }
      }
    }
    td {
      padding-right: $global-padding;
    }
    &__form-error {
      margin-top: -$global-padding / 2;
      margin-bottom: $global-margin;
    }
    &__inquiry {
      clear: both;
      a {
        color: $blue;
        &:visited {
          color: $blue;
        }
      }
    }
    &__description {
      table {
        .attr_value {
          text-align: right;
        }
      }
    }
  }
  &__gallery {
    .carousel-control {
      &-prev {
        svg {
          transform: rotate(180deg);
        }
      }
    }
    .carousel-item {
      flex-flow: column;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .carousel-indicators {
      position: relative;
      top: 100%;
      width: auto;
      left: 0;
      display: block;
      text-align: center;
      li {
        display: inline;
        text-indent: 0;
        margin: 0;
        img {
          width: 60px;
        }
        &.active {
          img {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
