$button-padding: 0 16px;
$button-flat-color: #26A69A;
$card-link-color: #26A69A;
$card-padding: 16px;
$font-size-action-icon: 18px;
$header-height: 56px;
$navbar-height: 56px;
$navbar-height-mobile: 64px;
$placeholder-text-color: white;
$primary-color: #E57373;
$primary-color-light: #EF9A9A;
$secondary-color: #26A69A;
$sidenav-font-color: #616161;
$sidenav-padding: 16px;
$subheader-height: 48px;
$tabs-bg-color: #f5f5f5;
$transition-duration: .2s;
$collection-hover-bg-color: #f2f2f2;

$roboto-font-path: "~materialize-css/fonts/roboto/";
@import "~materialize-css/sass/materialize";
@import "~dropzone/dist/dropzone";
@import "~select2/src/scss/core";
@import "~trumbowyg/dist/ui/sass/trumbowyg";
@import "vendor/draceditor";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('~material-design-icons/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('~material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
       url('~material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
       url('~material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.modal-content {
  .row {
    margin: {
      left: -.75rem;
      right: -.75rem;
    }
  }
}

.page-title {
  display: block;
  font-size: $h5-fontsize;
  line-height: $header-height;

  @media (max-width: $medium-screen) {
    float: right;
    width: calc(100% - 38px - 1.5rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


.data-table {
  &-header-action {
    border-bottom: 1px solid $table-border-color;
    padding: 14px 8px;
  }
  &-container {
    overflow: auto;
    table {
      .row {
        .col {
          float: none;
          padding: $gutter-width/2;

          .responsive-img {
            display: block;
          }
        }
      }
    }
  }
}

tr[data-action-go]>td:not(.ignore-link):hover {
  cursor: pointer;
}

#modal-product-class {
  max-width: 300px;
}

.pagination li.disabled span {
  color: #999;
}

.btn-flat {
  &.primary {
    background: $button-flat-color;
    color: #fff;
    transition: transform $transition-duration, box-shadow $transition-duration;
    &:hover {
      box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
    }
  }
}

.fixed-action-btn {
  padding: 0;
}

.btn-fab {
  transition: transform $transition-duration, box-shadow $transition-duration;

  i {
    &:before {
      transition: font-size $transition-duration;
    }
  }
}

.btn-fab.btn-fab-hidden {
  transform: scaleX(0) scaleY(0);

  i {
    &:before {
      font-size: 0;
    }
  }
}

.card {
  img {
    display: block;

    @media (max-width: $small-screen) {
      width: 100%;
    }
  }
  overflow: initial;
}

.no-margin {
  margin: 0;
}

.switch-two-columns {
  @media (min-width: $large-screen) {
    float: left !important;

    &:first-child {
      float: right !important;
    }
  }
}

.text-lg {
  font-size: 120%;
}

.label {
  @extend .grey-text;
  font-size: 12px;
  text-transform: uppercase;

  &.label-danger {
    @extend .red-text;
  }

  &.label-success {
    @extend .green-text;
  }
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  vertical-align: middle;
  word-wrap: normal;
  white-space: nowrap;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.formatted-address {
  white-space: pre-wrap;
}

.readonly-msg {
  border: 1px solid #ee6e73;
  box-shadow: none;
  color: $primary-color;
}

.currency {
  @extend .grey-text;
  font-size: 12px;
  font-weight: normal;
}

.dropzone {
  .dz-preview {
    &.dz-image-preview {
      background: none;
    }
  }
  &-message {
    span {
      font-size: 1.7rem;
      text-transform: uppercase;
    }
  }
}

.help-box {
  i {
    font-size: 1.3rem;
  }
}

.not-found {
  text-align: center;
  p {
    font-size: 1.7rem;
    text-transform: uppercase;
  }
}

.search-form {
  input {
    border: none;
    color: $primary-color;
    margin-bottom: 0;
    width: 75%;
    padding-left: 5%;
    &:focus:not([readonly]), &.valid, &:focus.valid {
      border: none;
      box-shadow: none;
    }
  }
  button {
    width: 20%;
    padding: 0;
    margin-top: 3px;
    i {
      color: $primary-color;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

#base-modal {
  @media only screen and (min-width: 1367px) {
    width: 40%;
  }
}

html {
  background: #f5f5f5;
  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 13px;
  }
}

h6 {
  @extend .grey-text;
  font-size: 13px;
}

li#version-indicator {
  @media only screen and (min-width: $large-screen) {
    position: absolute;
    bottom: 0;
  }
  p {
      @extend .grey-text, .text-lighten-1;
  }
}

.main-draceditor {
  max-height: none;
  position: inherit;
}

@import "../components/breadcrumbs";
@import "../components/cards";
@import "../components/data-table";
@import "../components/dropzone";
@import "../components/form";
@import "../components/formset";
@import "../components/list";
@import "../components/nav";
@import "../components/product-gallery";
@import "../components/ppoi";
@import "../components/select2";
@import "../components/tabs";
@import "../components/toast";
@import "../components/draceditor";
