{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}

<form method="post" id="form-category" class="form-async" action="{% url "dashboard:category-edit" root_pk=category.pk %}" novalidate>
  {% csrf_token %}
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <h5>
          {% blocktrans trimmed context "Edit category modal title" %}
            Edit {{ category }}
          {% endblocktrans %}
        </h5>
      </div>
    </div>
    <div class="row">
      {{ form.name|materializecss:"s6 m8" }}
      {{ form.hidden|materializecss:"s3 m2" }}
      {{ form.homepage|materializecss:"s3 m2" }}
      {{ form.description|materializecss }}
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action btn-flat">
      {% trans "Update" context "Dashboard update action" %}
    </button>
    <a href="#!" class="modal-action modal-close btn-flat">
      {% trans "Cancel" context "Dashboard cancel action" %}
    </a>
  </div>
</form>
