{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_form from bootstrap3 %}
{% load widget_tweaks %}

{% block content %}


  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <div class="row support">
      <div class="col-md-4 support__leftpanel">
        <div class="login__leftpanel-link">
          <h3>We're here to help</h3>
          <img src="{% static 'images/pirate_login.png' %}"
               srcset="{% static 'images/pirate_login.png' %} 1x, {% static 'images/pirate_login2x.png' %} 2x">
        </div>
      </div>
      <div class="col-md-8 support__form">
        <h3>Contact Us</h3>
        <p>
          Thank you for contacting us. We will reply in 2 working days.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
