{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_form from bootstrap3 %}
{% load widget_tweaks %}

{% block content %}


  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <div class="row support">
      <div class="col-md-8 support__form">
        <h3>Let us know how we can help</h3>
        <form method="post">
          <fieldset>
            {% csrf_token %}
            <div class="col-sm-12">
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-primary float-right">Send</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="col-md-4 support__leftpanel">
        <div class="support__leftpanel-link">
          <h3>Alternatively you can contact us in person</h3>
          {% for staff in contacts %}
            <div class="staff-poc">
              {% if staff.avatar %}
                <img src="{{ staff.avatar.url }}"/>
              {% else %}
                <img src="https://api.adorable.io/avatars/200/{{ staff.email }}">
              {% endif %}
              <div class="detail">
                <p class="name">{{ staff.get_full_name }}</p>
                <p>{{ staff.staff_title }}</p>
                <p>{{ staff.get_phone_number }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
