{% if user.first_name %}
<h2>Hi <strong>{{ user.first_name }}</strong>,</h2>
{% else %}
<h2>Hi there,</h2>
{% endif %}
<br/>
<p>You have requested login access to Ezpresso website. To continue visit the link below.</p>
<p>{{ activate_url }}</p>
<br/>
<p>If you didn't try to login to Ezpresso please ignore this message. We apologise for inconvenience.</p>
<br/>
<p>Sincerely,</p>
<p>The Ezpressor Team</p>
