{% load staticfiles %}
{% if user.first_name %}
<h2>Hi <strong>{{ user.first_name }}</strong>,</h2>
{% else %}
<h2>Hi there,</h2>
{% endif %}
<br/>
<p>To reset your password, click this link:</p>
<p>{{ password_reset_url }}</p>
<p>If you cannot access this link, copy and paste the entire URL into your browser.</p>
<br/>
<p>Please note:</p>
<p>For security purposes, this link will expire 24 hours from the time it was sent.</p>
<br/>
<p>Best regards,</p>
<p>The Ezpresso Team</p>
