{% load staticfiles %}
<h3>Good day,</h3>
<br/>
<p>We have received a support request with the following information:</p>
<p>Sender email: {{ sr.email }}</p>
<p>Sender name: {{ sr.name }}</p>
<p>Sender phone: {% if sr.phone %}{{ sr.phone }}{% else %}Not provided{% endif %}</p>
<br/>
<p>Support category: {{ category }}</p>
<p>Subject: {{ sr.subject }}</p>
<p>Request is sent on {{ datetime }} with the following message:</p>
<br/>
"
{{ sr.message }}
"
<br/>
<p>Please make sure this request is taken care of within 2 working days.</p>
<br/>
<p>Best regards,</p>
<p>The Ezpresso Team</p>
