<p class="post-meta">
  <span class="date">
    {{ post.post_date|date:"jS F Y" }}
  </span>
  {% if user.is_staff %}
    <span><a href="{% url "dashboard:post-detail" pk=post.pk %}">Edit in dashboard</a></span>
  {% endif %}
</p>
