{% extends "base.html" %}

{% block content %}
  {% if post_list %}
    <div class="post-list">
      {% for post in post_list %}
        <div class="post">
          <div class="cover-image">
            <img src="{{ post.cover_image }}">
          </div>
          <h4>{{ post.title }}</h4>
          {% include "blog/dateline.html" %}
          <div class="summary">
            {{ post.summary|safe }}
            <a class="continue-reading" href="{{ post.get_absolute_url }}">Continue reading→</a>
          </div>
          </p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <section>
      No results found.
    </section>
  {% endif %}
{% endblock %}
