{% extends "base.html" %}
{% load dractags %}

{% block content %}
  <div class="main-draceditor">
    <h1>{{ post.title }}</h1>
    {% include "blog/dateline.html" %}
    <div class="draceditor-preview">
      {{ post.description|safe_markdown }}
    </div>
  </div>
{% endblock %}
