.post {
  padding-bottom: 1em;
  min-height: 200px;

  .cover-image {
    float: left;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 10px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  h4 {
    margin-bottom: 0;
    font-weight: bold;
  }

  .continue-reading {
    float: right;
  }
}
