@import "variables";

@import "~materialize-css/sass/materialize";
@import "~dropzone/dist/dropzone";
@import "~select2/src/scss/core";
@import "vendor/draceditor";


.main-draceditor {
  max-height: none;
  position: inherit;
}

@import "components/global";
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/data-table";
@import "components/dropzone";
@import "components/form";
@import "components/formset";
@import "components/list";
@import "components/nav";
@import "components/pagination";
@import "components/modals";
@import "components/product-gallery";
@import "components/ppoi";
@import "components/select2";
@import "components/search";
@import "components/tabs";
@import "components/blog";

@import "layouts/style-guide";
@import "print";
