{% if user and user.first_name %}
<h2>Hi <strong>{{ user.first_name }}</strong>,</h2>
{% else %}
<h2>Hi there,</h2>
{% endif %}
<br/>
<p>Thank you for your order. To see your payment details please visit:</p>
<p>{{ order_url }}</p>
<br/>
<p>Sincerely,</p>
<p>The Ezpresso Team</p>
