{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1" style="background-image: url('{% static "images/block1.jpg" %}'); background-repeat: round;">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1><span style="background-color: rgba(235,87,87,0.5)">Espresso Machines</span></h1>
                  <h2>Buy or rent</h2>
                    <a class="btn btn-secondary home__button" href="{{ category_machines.get_absolute_url }}">
                        {% trans "Shop now" context "Homepage action" %}
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 home__block2" style="background-image: url('{% static "images/block2.jpg" %}'); background-repeat: round;">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1><span style="background-color: rgba(235,87,87,0.5)">Beans & accessories </span></h1>
                  <a class="btn btn-secondary home__button" href="{{ category_accessories.get_absolute_url }}">{% trans "Shop now" context "Homepage action" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 home__block3" style="background-image: url('{% static "images/block3.jpg" %}'); background-repeat: round;">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1><span style="background-color: rgba(235,87,87,0.5)">Barista Training</span></h1>
                  <a class="btn btn-secondary home__button" href="{{ category_training.get_absolute_url }}">{% trans "Shop now" context "Homepage action" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "category/_items.html" %}
        </div>
      </div>
    </div>

{% endblock %}
