{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}

{% block title %}
  Blog posts - {{ block.super }}
{% endblock %}

{% block body_class %}body-blog{% endblock %}

{% block menu_blog_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      Blog posts
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="data-table-header-action">
          <a href="{% url 'dashboard:post-add' %}" class="btn-data-table btn-flat" title="New post">
            New post
          </a>
        </div>
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            {% if posts %}
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                  <tr data-action-go="{% url 'dashboard:post-detail' pk=post.pk %}">
                    <td>
                      {{ post }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            {% else %}
              <tbody>
                <tr>
                  <td>
                    <span>
                      No blog post found
                    </span>
                  </td>
                </tr>
              </tbody>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include "dashboard/includes/_pagination.html" %}
{% endblock %}
