{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}
{% load dractags %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block title %}
  Posts
  {% if post.pk %}
    - {{ post }}
  {% else %}
    - Add new post
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block body_class %}body-blog{% endblock %}

{% block page_title %}
  {% if post.pk %}
    {{ post }}
  {% else %}
    Add new post
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:post-list' %}">
        Posts
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:post-list' %}">
        <svg data-src="{% static "dashboard/images/arrow_left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      {% if post.pk %}
        <span class="breadcrumbs--ellipsed-item">
          {{ post }}
        </span>
      {% else %}
        <span class="breadcrumbs--ellipsed-item">
          Add new post
        </span>
      {% endif %}
    </li>
  </ul>
{% endblock %}

{% block header_extra %}
  {% if post.pk %}
    <a class="dropdown-button right" href="#" data-activates="context-menu" data-constrainwidth="false">
      <svg data-src="{% static "dashboard/images/more_vert.svg" %}" height="24" width="24" />
    </a>
    <ul id="context-menu" class="dropdown-content">
      <li>
        <a href="{% url 'dashboard:post-delete' pk=post.pk %}">
          Delete post
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block menu_blog_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 help-box"></div>
    <div class="col m12">
      <div class="card">
        <form method="post" id="form-method">
          <div class="card-content">
            {% csrf_token %}
            <div class="row">
              <div class="col m8">
                {{ post_form.title|materializecss }}
              </div>
              <div class="col m4">
                {{ post_form.cover_image|materializecss }}
              </div>
              <div class="col m4">
                {{ post_form.slug|materializecss }}
              </div>
              <div class="col m4">
                {{ post_form.author|materializecss }}
              </div>
              <div class="col m4">
              </div>
              <div class="col m4">
                {{ post_form.categories|materializecss }}
              </div>
              <div class="col m12">
                {{ post_form.summary|materializecss }}
                {{ post_form.description }}
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {% if post.pk %}
              <a href="{% url 'dashboard:post-list' %}" class="btn btn-flat">
                Cancel
              </a>
              <button type="submit" class="btn btn-flat primary">
                update
              </button>
            {% else %}
              <a href="{% url 'dashboard:post-list' %}" class="btn btn-flat">
                Cancel
              </a>
              <button type="submit" class="btn btn-flat primary">
                Create
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block custom_js %}{% render_bundle 'drace' 'js' %}{% endblock %}
