{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}

{% block title %}
    Delete {{ post }}
{% endblock %}

{% block body_class %}body-post{% endblock %}

{% block page_title %}
    Delete {{ post }}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--with-menu">
    <li>
      <a href="{% url 'dashboard:post-list' %}" class="breadcrumbs--ellipsed-item">
        Blog posts >
      </a>
    </li>
     <li>
      <a href="{% url 'dashboard:post-detail' pk=post.pk %}" class="breadcrumbs--ellipsed-item">
        {{ post }}
      </a>
     </li>
     <li>
      <span class="breadcrumbs--ellipsed-item">
        : Delete
      </span>
    </li>
  </ul>
{% endblock %}

{% block menu_blog_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel">
          Are you sure you want to delete "{{ post }}"?
      </div>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn red">
      Delete
    </button>
  </form>
{% endblock %}
