a.btn {
  display: inline-block;
}
.btn {
  transition: 0.3s;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
  &.home__button {
    text-transform: uppercase;
    font-size: $font-size-h3;
    color: $white;
    background-color: rgba(0,0,0,.4);
    border: 1px solid $white;
    padding: $global-padding $global-padding * 2;
    &:hover {
      background-color: $white;
      color: $red;
    }
  }
  &.primary {
    background-color: $blue;
    color: $white;
    padding: $global-padding $global-padding * 4;
    &:hover {
      background-color: darken($blue, 10%);
    }
  }
  &.secondary {
    border: 1px solid $blue;
    padding: $global-padding $global-padding * 2;
    background-color: transparent;
    color: $blue;
    &:hover {
      border-color: darken($blue, 10%);
      color: darken($blue, 10%);
    }
  }
  &.danger {
    background-color: $red;
    color: $white;
    padding: $global-padding $global-padding * 4;
    &:hover {
      background-color: $darkred
    }
  }
  &.checkout {
    background-color: $gray;
    border: 0;
    padding: $global-padding / 2 $global-padding * 2;
    text-transform: none;
  }
  &.btn-link {
    padding: 0;
    vertical-align: baseline;
    color: $gray;
    text-transform: none;
  }
}
