{% extends "order/payment/details.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load i18n %}
{% load shop %}

{% block forms %}
  <form id="payment-form" method="{{ form.method }}"{% if form.action %} action="{{ form.action }}"{% endif %}
        novalidate>
    <p>Thank you for your order. Our excellent team is still working on credit card payment for your convenience in the
      future.</p>
    <p>In the mean time, we accept bank transfer or cash on pick up.</p>
    <br/>
    <p>Our bank account details are as follows:</p>
    <br/>
    <p><strong>Bank Name:</strong> Kiwibank</p>
    <p><strong>Account Name:</strong> MR Y. Fukuzawa</p>
    <p><strong>Account Number:</strong> 38-9017-0243499-00</p>
    <br/>
    <p>To prevent delays in shipping Please use your reference: '{{ form|get_attr:"ref" }}' as reference on the payment.</p>

    {% csrf_token %}
    {{ form.media }}
    {% bootstrap_form form %}
    <button type="submit" class="btn primary">
      {% trans "Complete order" context "Payment form primary action" %}
    </button>
  </form>
{% endblock forms %}
